*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd, li {margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/* CSS Reset code provided by Elad Shechter */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden
}

body {
    height: 100%;
    width: 100%;
    background-image: url("./Casino_Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "gameMain"
        "gamePlay";
    font-family: "Inconsolata", monospace;;
    font-size: 20px;
    font-weight: 400;
}

.header {
    grid-area: header;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A86EE3;
    font-size: 60px;
    font-style: bold;
    text-shadow:
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.logo {
    position: relative;
    display:flex;
    justify-content: center;
    max-width: 35%;
    top: 60px
}

#logo {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    /* -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white); */
}

.gameMain {
    grid-area: gameMain;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    grid-template-areas: 
        "playerScore playerCards compCards compScore";
    flex-direction: row;
    justify-items: center;
    align-items: center
}


.start {
    grid-column-start: 2;
    grid-column-end: 4;
    min-width: 100%
}

.gameMainPlayerCards, .gameMainCompCards, .gameMainPlayerScore, .gameMainCompScore {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gameMainPlayerCards, .gameMainCompCards {
    flex-wrap: wrap;
}

.gameMainPlayerCards, .gameMainCompCards > img {
    min-width: 50%
}

.gameMainPlayerScore, .gameMainCompScore {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.gamePlay {
    grid-area: gamePlay;
    display: flex;
    justify-content: space-evenly;
}

.hit, .stay {
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

button {
    display: block;
    width: 100%;
    font-family: "Inconsolata", monospace;
    background-color: #F7C780;
    border: 2px solid white;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    border-radius: 0 10px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-image: linear-gradient(-90deg, #1032B9, #b84ed8)
}